.App-header {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Roboto';
}

.App-link {
  color: #61dafb;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
p {
  text-align: center;
  margin: 12px auto;
}

.collection {
  background-color: #d4d4d4;
  border-radius:  8px;
  padding: 16px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  margin: 20px auto;
  max-width: 400px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

a {
  color:#17729f;
}

.card {
  text-align: center;
  align-items: center;
  border: grey solid 1px;
  background-color: #fafafa;
  padding: 1rem;
  width: 300px;
  max-height: fit-content;
  display: inline-grid;
  margin: 20px auto;
  box-shadow: 3px 4px #000000;
  overflow: scroll;
}

.new-entry-form {
  width: 80%;
  max-width: 400px;
  margin: 1rem auto;
  text-align: center;
  font-family: 'Roboto';
}
.new-entry-form form {
  border: 1px solid #ccc;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  background-color: #fafafa;
  box-shadow: 0 0 0 px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.new-entry-form textarea {
  height: 7rem;
}

.new-entry-form form h3,
.new-entry-form form h4,
.new-entry-form form p,
.new-entry-form form input,
.new-entry-form form textarea {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.new-entry-form form select,
.new-entry-form form button {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-family: 'Roboto Mono';
}

.new-entry-form form button[type="button"] {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.form-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #ddd;
}

.form-section:last-child {
  border-bottom: none;
}

.nav-link{
  display: inline-block;
  box-sizing: border-box;
  width: 100px;
  padding: 5px;
  margin: 0 6px 6px;
  background: rgb(119, 119, 119);
  text-decoration: none;
  text-align: center;
  font-size: 15px ;
  color: white;
  font-family: "Roboto Mono";
}

.right-modal {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 400px;
  box-shadow: -7px 0 5px rgba(0,0,0,0.3);
  background-color: white;
  z-index: 1000;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

button {
  font-size: 12px;
  font-family: 'Roboto Mono';
  cursor: pointer;
}

button:hover {
  background-color: #61dafb
}

button:disabled {
  background-color:#ccc;
  cursor: not-allowed;
}

.button-container {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: 1rem;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.button-container button {
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  font-family: 'Roboto Mono';
  font-size: 12px;
}

.button-container button p {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.close-modal-btn {
  align-self: flex-start;
  margin: 15px;
  font-family: 'Roboto Mono';
}